body{
    color: rgb(241, 233, 217);
}
#color{
    color: rgb(241, 233, 217);
}

#drop{
    list-style: none;
    list-style-type: none;
    -webkit-appearance: none;
    display: none;
    -moz-appearance: none;
    appearance: none;
}

#case{
    width: 380px;
}

#container-case{
    border-radius: 15px;
    color: #333;
}



h1{
    color: #333;
}
h5{
    text-align: center;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#myHeader{
    background-color: #333;
}




.header-top {
    background: #333;
    height: 340px;
    color: #f1f1f1;
}
.margin{
    margin-top: 100px;
}


.sticky {
    transition: all 0.3s;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%
}

.show{
    opacity: 1!important;
}



