/* body{
    background-image: linear-gradient(to right, blue, lightblue, green);
} */

#navbar-shadow{
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
}

#faded{
    background: -webkit-linear-gradient( 45deg, rgb(2, 0, 204), rgb(27, 183, 255), rgb(114, 233, 114));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cen{
   text-align: center;
}

.card{
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.3s;
    overflow: hidden;
    -moz-transition: all 0.3s;
}

.card:hover{
    -webkit-transform: scale(1.01);
    -webkit-box-shadow: 0 5px 25px 0 rgb(0,0,0);
}


#readonly{
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
}


















